#navbar > ul {
    list-style:none;
    left: 2.89%;
    right: 2.89%;
    top: 1.8%;
    bottom: 89.2%;
    display: flex;
    background: rgba(17, 159, 204, 0.53);
    font-style: oblique;
    font-weight: bold;
}
#navbar > ul > li {
    padding: 2%;
}
#name {
    left: 31.33%;
    right: 31.33%;
    top: 14.13%;
    bottom: 82.13%;
    text-align: center;
    font-family: Futura;
    font-style: oblique;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}
#picture {
    height: 12.6%;
    width:16%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 1000px;
    padding: 5%;
}
#content {
    font-family: "Brush Script MT";
    font-size: x-large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: aquamarine;
}
#foot {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#foot > ul  {
    display: flex;
    list-style: none;
}

#foot > ul > li {
    padding: 1%;
    width: 5%;
    height: 1%;
    align-items: center;
}
#go-up {
    margin-left: auto;
}

.image {
    max-height: 100%;
    max-width: 100%
}
#line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    background: black;
}