@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn-nav {
        @apply border-[#fdc500] text-[#fdc500] hover:bg-[#fdc500] hover:text-[#00296b];
    }
    .btn-nav-dark {
        @apply border-[#00296b] text-[#00296b] hover:bg-[#00296b] hover:text-[#fdc500];
    }
    .swap-flip {
        transition-duration: 700ms;
    }
    .nested {
        @apply pl-5 border-l-2 border-dashed border-l-black;
    }
    .list-header {
        @apply border-[1px] border-dashed border-gray-500 w-fit ml-2 my-2 p-1 rounded-lg hover:bg-gray-700 hover:text-white cursor-pointer hover:scale-110;

    }
}
@font-face {
    font-family: "Caudex";
    src: url('../fonts/Caudex/Caudex-Regular.ttf');
}
@font-face {
    font-family: "Bodoni_Moda";
    src: url('../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf');
}
@font-face {
    font-family: "Urbanist";
    src: url('../fonts/Urbanist/Urbanist-VariableFont_wght.ttf');
}
