:root {
    --new-white: #003f88;
    --text-margin: 10px;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
}
#root {
    height: 100%;
}
.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    perspective: 1000px;
    align-content: center;

}
.page-container > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
}
.page-container > ul > li {
    margin: 10px;
}
.card-container{
    height: 350px;
    top: 20px;
    width: 330px;
    position: relative;
    transform-style: preserve-3d;
    box-sizing: border-box;
}

.card-container.flipped .front {
    transform: rotateY(180deg);
    /*visibility: hidden;*/

}
.card-container.flipped .back {
    transform: rotateY(0deg);
}

.card-container .front,
.card-container .back {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    background: var(--new-white);
    box-shadow: 10px 10px 5px rgb(95, 77, 99);
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
}
.card-container .front {
    z-index: 2;
    transform: rotateY(0deg);
    /* front tile styles go here! */
}
.card-container .back {
    background: var(--new-white);
    transform: rotateY(-180deg);
    padding: 20px;
    font-size: 20px;
    color: #fdc500;
    /* back tile styles go here! */
}
.card-container .image-container {
    position: relative;
}
.card-container .image-container .card-image {
    width: 100%;
    height: 207px;
    border-radius: 10px;

}
.card-container .image-container .title {
    font-size: 34px;
    position: absolute;
    margin-bottom: var(--]t-margin);
    margin-left: var(--text-margin);
    bottom: 0;
    left: 0;
    color: black;
}
.card-container .main-area {
    margin-left: var(--text-margin);
    margin-top: var(--text-margin);
    margin-right: var(--text-margin);
}

.card-container .main-area .blog-post {
    height: 100%;
}

.card-container .main-area .blog-post .date {
    margin-top: var(--text-margin);
    margin-bottom: 5px;
    font-size: 20px;
    color: #fdc500;
}
.card-container .main-area .blog-post .read-more {
    font-size: 20px;
    position: relative;
    bottom: 0px;
    text-align: right;
    color: #fdc500;
}
.card-container .main-area .blog-post .blog-content {
    height: 90%;
    display: block;
    margin-top: var(--text-margin);
    margin-bottom: var(--text-margin);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fdc500;
}


